## Data Preprocessing

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('station_hour.csv')

C:\Users\Kavinda S Rajapaksha\AppData\Local\Temp\ipykernel_26768\3103919852.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('station_hour.csv')

In [6]:
df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24 17:00:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,NaN,NaN
1,AP001,2017-11-24 18:00:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,NaN,NaN
2,AP001,2017-11-24 19:00:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,NaN,NaN
3,AP001,2017-11-24 20:00:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,NaN,NaN
4,AP001,2017-11-24 21:00:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,NaN,NaN

In [10]:
df.tail(20)

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
2589063,WB013,2020-06-30 05:00:00,12.53,35.43,NaN,NaN,NaN,NaN,0.72,1.65,8.01,1.08,6.74,NaN,51.0,Satisfactory
2589064,WB013,2020-06-30 06:00:00,10.10,35.20,NaN,NaN,NaN,NaN,0.76,1.77,7.41,1.67,7.21,NaN,50.0,Good
2589065,WB013,2020-06-30 07:00:00,12.07,37.92,NaN,NaN,NaN,NaN,0.77,2.80,8.68,1.58,7.26,NaN,48.0,Good
2589066,WB013,2020-06-30 08:00:00,16.65,36.38,NaN,NaN,NaN,NaN,0.73,3.75,20.20,1.76,7.79,NaN,41.0,Good
2589067,WB013,2020-06-30 09:00:00,19.47,32.03,NaN,NaN,NaN,NaN,0.62,3.67,45.15,1.15,8.19,NaN,45.0,Good
2589068,WB013,2020-06-30 10:00:00,15.65,32.17,NaN,NaN,NaN,NaN,0.67,4.18,54.26,0.87,8.30,NaN,54.0,Satisfactory
2589069,WB013,2020-06-30 11:00:00,13.95,29.50,NaN,NaN,NaN,NaN,0.68,4.09,59.05,0.98,8.13,NaN,59.0,Satisfactory
2589070,WB013,2020-06-30 12:00:00,14.47,37.48,6.47,17.77,24.20,30.20,0.65,3.04,57.15,0.96,7.71,NaN,59.0,Satisfactory
2589071,WB013,2020-06-30 13:00:00,13.15,39.70,5.93,15.26,21.23,31.77,0.61,2.86,59.10,1.15,7.20,NaN,59.0,Satisfactory
2589072,WB013,2020-06-30 14:00:00,18.65,36.40,7.35,28.77,36.15,32.83,0.71,2.46,42.47,1.16,7.81,NaN,59.0,Satisfactory
2589073,WB013,2020-06-30 15:00:00,22.82,36.75,9.85,49.86,59.73,26.28,0.85,3.08,32.38,1.40,6.82,NaN,59.0,Satisfactory
2589074,WB013,2020-06-30 16:00:00,23.00,42.30,6.95,32.79,39.72,23.68,0.70,6.25,57.22,3.18,11.62,NaN,59.0,Satisfactory
2589075,WB013,2020-06-30 17:00:00,17.72,47.25,7.42,26.54,33.95,25.61,0.78,8.81,58.96,1.60,8.50,NaN,59.0,Satisfactory
2589076,WB013,2020-06-30 18:00:00,14.45,42.42,9.32,38.91,48.25,26.21,0.81,34.88,27.57,2.13,9.35,NaN,59.0,Satisfactory
2589077,WB013,2020-06-30 19:00:00,12.35,44.88,8.28,36.44,44.70,32.30,0.78,23.99,16.45,2.13,9.47,NaN,59.0,Satisfactory
2589078,WB013,2020-06-30 20:00:00,15.55,47.80,7.27,35.08,42.38,31.25,0.80,9.40,17.24,2.56,11.57,NaN,59.0,Satisfactory
2589079,WB013,2020-06-30 21:00:00,15.23,42.30,6.10,26.78,32.85,30.66,0.56,4.91,17.46,3.49,12.29,NaN,59.0,Satisfactory
2589080,WB013,2020-06-30 22:00:00,11.40,40.95,6.58,19.53,26.12,30.73,0.61,3.81,17.24,1.83,8.88,NaN,59.0,Satisfactory
2589081,WB013,2020-06-30 23:00:00,9.25,34.33,9.17,21.85,31.00,29.61,0.65,3.44,12.74,1.40,8.43,NaN,59.0,Satisfactory
2589082,WB013,2020-07-01 00:00:00,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [9]:
print(df.columns)

Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [11]:
df=df[(df['PM2.5'].notna())&(df['AQI_Bucket'].notna())]
df = df[df['PM2.5'] != 'NA']
df = df[df['AQI_Bucket'] != 'NA']

In [12]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,1.880106e+06,1.335100e+06,1.795750e+06,1.820727e+06,1.776765e+06,1.243001e+06,1.746457e+06,1.633430e+06,1.692002e+06,1.473729e+06,1.320466e+06,420762.000000,1.880106e+06
mean,8.076400e+01,1.623340e+02,2.321056e+01,3.538869e+01,4.280554e+01,2.893082e+01,1.558339e+00,1.221944e+01,3.838477e+01,3.533585e+00,1.618746e+01,2.786938,1.837691e+02
std,8.892540e+01,1.412232e+02,4.945258e+01,3.466617e+01,5.721667e+01,2.670141e+01,6.505975e+00,1.432415e+01,4.779039e+01,1.264362e+01,3.453319e+01,9.645620,1.420053e+02
min,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,0.000000e+00,1.000000e-02,0.000000e+00,1.000000e-02,1.000000e-02,0.000000e+00,0.000000e+00,0.000000,5.000000e+00
25%,2.825000e+01,6.626000e+01,2.970000e+00,1.335000e+01,1.268000e+01,1.175000e+01,4.900000e-01,4.390000e+00,1.090000e+01,1.600000e-01,7.800000e-01,0.000000,8.600000e+01
50%,5.272000e+01,1.197500e+02,7.020000e+00,2.506000e+01,2.418000e+01,2.285000e+01,8.500000e-01,8.500000e+00,2.475000e+01,1.120000e+00,4.280000e+00,0.400000,1.350000e+02
75%,9.764000e+01,2.096100e+02,1.842000e+01,4.574000e+01,4.750000e+01,3.815000e+01,1.430000e+00,1.480000e+01,5.006000e+01,3.450000e+00,1.700000e+01,2.120000,2.680000e+02
max,1.000000e+03,1.000000e+03,5.000000e+02,4.999900e+02,5.000000e+02,4.999700e+02,4.985700e+02,1.999600e+02,9.970000e+02,4.980700e+02,4.995000e+02,499.990000,3.133000e+03

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1880106 entries, 16 to 2589082
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Datetime    object
 2   PM2.5       float64
 3   PM10        float64
 4   NO          float64
 5   NO2         float64
 6   NOx         float64
 7   NH3         float64
 8   CO          float64
 9   SO2         float64
 10  O3          float64
 11  Benzene     float64
 12  Toluene     float64
 13  Xylene      float64
 14  AQI         float64
 15  AQI_Bucket  object
dtypes: float64(13), object(3)
memory usage: 243.8+ MB

In [15]:
df.shape

(1880106, 16)

In [16]:
df = df[['StationId', 'Datetime', 'PM2.5', 'AQI_Bucket']]

In [17]:
df.shape

(1880106, 4)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1880106 entries, 16 to 2589082
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Datetime    object
 2   PM2.5       float64
 3   AQI_Bucket  object
dtypes: float64(1), object(3)
memory usage: 71.7+ MB

In [19]:
df['PM2.5']=pd.to_numeric(df['PM2.5'],errors='coerce')

In [20]:
df = df.dropna(subset=['PM2.5'])

In [23]:
df.head(10)

   StationId             Datetime   PM2.5 AQI_Bucket
16     AP001  2017-11-25 09:00:00  104.00   Moderate
17     AP001  2017-11-25 10:00:00   94.50   Moderate
18     AP001  2017-11-25 11:00:00   82.75   Moderate
19     AP001  2017-11-25 12:00:00   79.00   Moderate
21     AP001  2017-11-25 14:00:00   68.50   Moderate
22     AP001  2017-11-25 15:00:00   69.25   Moderate
23     AP001  2017-11-25 16:00:00   70.00   Moderate
24     AP001  2017-11-25 17:00:00   72.75   Moderate
25     AP001  2017-11-25 18:00:00   81.50   Moderate
26     AP001  2017-11-25 19:00:00   85.00   Moderate

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1880106 entries, 16 to 2589082
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Datetime    object
 2   PM2.5       float64
 3   AQI_Bucket  object
dtypes: float64(1), object(3)
memory usage: 71.7+ MB

In [25]:
print(df['PM2.5'].dtype)

float64

In [26]:
df.shape

(1880106, 4)

In [27]:
df=df.to_csv('air_quality_cleaned.csv',index=False)